*{
	box-sizing: border-box;
}

html{
	width: 100%;
	position: relative;
	min-height: 100%;
}
body{
	background-image: url(../img/background.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
	background-attachment: fixed;
	font-family: $font-family;
}

html {
	
}
.stickyfooter {
	margin: 0 0 210px; /* bottom = footer height */
	@media screen and (max-width: 620px){
		margin: 0 0 180px;
	}
}

a{
	text-decoration: none;
	color: #353535;
}



