.columns{
	.left, .right{
		width: 49%;
		float: left;
		margin: 0.5%;
		padding: 10px;
		background-color: lighten($color-primary,20%);
	}
	&:after{
		display: block;
		content: '';
		clear: both;
	}
	@media screen and (max-width: $breakpoint-medium){
		.left, .right{
			float: none;
			width: 100%;
			margin: 0;
			margin-bottom: 1%;
		}
	}
}