.gallery{
	width: 60%;
	display: block;
	margin: 0 auto;
	&__item{
		background-size: cover;
		background-position: 50% 50%;
		width: 23%;
		padding-bottom: 23%;
		margin: 1%;
		float: left;
		&:hover{
			cursor: pointer;
		}
	}
	@media (max-width: 1200px) {
		width: 60%;
		&__item{
			width: 31.33333%;
			padding-bottom: 31.33333%;
		}
	}
	@media (max-width: 600px) {
		width: 80%;
		&__item{
			width: 47%;
			padding-bottom: 47%;
		}
	}
	@media (max-width: 600px) {
		width: 100%;
		&__item{
			width: 47%;
			padding-bottom: 47%;
		}
	}
}