// Typography
$font-size-base: 16px;
$font-family: 'Avenir Next W01', Arial, sans-serif;
$line-height: 1.5;

// Spacing
$space: $font-size-base;

// Grid
$breakpoint-medium: 768px;
$breakpoint-large: 1200px;

// Colors
$color-primary: #123456;
